<div class="section-head">
  <span class="section-name"><%= locals[:title] %></span>
  <%= link_to image_tag('smallEdit.png'),
              edit_suite_section_path(@suite, locals[:object]),
              class: 'action-hover', remote: true %>
  <%= link_to image_tag('smallDelete.png'),
              [@suite, locals[:object]], method: :delete, class: 'action-hover',
              remote: true, data: { confirm: 'Are you sure that you want to delete it?'} %>
</div>

<%= render partial: 'cases/test_cases', locals: { tcases: locals[:tcases]} %>
<%= render partial: 'cases/inline_case', locals: { parent: locals[:parent]} %>

