<div class="section-head">
  <span class="section-name"><%= locals[:title] %></span>
  <%= link_to image_tag('smallEdit.png'),
              edit_suite_section_path(@suite, locals[:object]),
              class: 'action-hover', remote: true %>
  <%= link_to image_tag('smallDelete.png'),
              [@suite, locals[:object]], method: :delete, class: 'action-hover',
              remote: true, data: { confirm: 'Are you sure that you want to delete it?'} %>
</div>

<%= render partial: 'cases/test_cases', locals: { tcases: locals[:tcases]} %>
<div class="inline-container">
    <span class="section-links">
    <%= link_to 'Add Case', new_suite_case_path(@suite),
            class: 'link add-case', remote: true, 'data-parent' => locals[:parent] %> |
    <%= link_to 'Add Subsection', new_suite_section_path(@suite),
            class: 'link add-section', remote: true, 'data-attribute' => locals[:parent] %>
  </span>
  <%= render 'cases/inline_case' %>
</div>
