<%= bootstrap_form_for folder, remote: is_remote do |f| %>
  <div class="field">
    <%= f.text_field :title, help: 'Ex: User Interface Test or Release Protocol', id: 'name' %>
    <div class="form-separator"></div>

    <%= f.text_area :description, help: 'Use this description to explain the content and purpose of this test suite' %>
    <!--Do not insert parent id in case of operations on SUITES -->
    <% unless params[:controller] == 'suites' && params[:action].in?(%w(new edit)) %>
      <%= f.hidden_field :parent_id %>
    <% end %>
    <%= f.form_group do %>
      <%= f.primary %>

      <!--JS script for pop-up, redirect for html page-->
      <% if params[:controller] == 'suites' && params[:action].in?(%w(new edit)) %>
        <%= link_to 'Cancel', suites_path, class: 'btn btn-default away' %>
      <% else %>
        <%= button_tag 'Cancel', type: 'button', class: 'btn btn-default', onclick: '$(\'#squarespaceModal\').hide();' %>
      <% end %>
    <% end %>
  </div>
<% end %>