<%= bootstrap_form_for @suite do |f| %>
  <div class="field">
    <%= f.text_field :title, help: 'Ex: User Interface Test or Release Protocol', id: 'name' %>
    <div class="form-separator"></div>

    <%= f.text_area :description, help: 'Use this description to explain the content and purpose of this test suite' %>
    <%= f.form_group do %>
      <%= f.primary %>
      <%= link_to 'Cancel', suites_path, class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>