<div id="section-header">
  <div class="label"><%= "S#{@suite.id}" %></div>
  <p><%= @suite.title %></p>
</div>

<div class="description">
  <p>
    <%= @suite.description %>
  </p>
</div>

<div id="popup"></div>

<div id="cases">
  <%= render_cases(@sections.roots) %>
</div>

<%= content_for :sidebar do %>
  <%= link_to 'Add Section', suite_sections_new_path(@suite), class: 'btn btn-primary add-sect',
              'data-toggle' => 'modal', 'data-target' => '#squarespaceModal', remote: true %><br>

  <div id="jstree_div">
    <%= render_tree(@sections.roots) %>
  </div>
<% end %>