<div id="section-header">
  <div class="label"><%= "S#{@suite.id}" %></div>
  <p><%= @suite.title %></p>
</div>

<div class="description">
  <p>
    <%= @suite.description %>
  </p>
</div>

<div id="cases">
  <%= render_cases(@sections.roots) %>
</div>

<%= content_for :sidebar do %>
  <%= link_to 'Add Section', '#', class: 'btn btn-primary' %><br>

  <div id="jstree_div">
    <%= render_tree(@sections.roots) %>
  </div>
<% end %>