%tr.step-container
  %td.step-positions
    = f.hidden_field :position
    .step-number
      = f.object.position unless f.object.nil?
  %td.step-content
    .step-text
      .step-text-content
        = f.text_area :actual_result, hide_label: true, placeholder: 'Action'
      .step-text-expected
        = f.text_area :expected_result, hide_label: true, placeholder: 'Expected Result'
  %td.step-buttons
    %div= image_tag('smallDelete.png')

