#section-header
  .label C#{@case.id}
  %p Edit Case

= link_to @suite.title, suite_path(@suite), class: 'content-breadcrumb'
= bootstrap_form_for [@suite, setup_case(@case)] do |f|
  #form-controls
    = f.text_field :title, id: 'case-title', label: { class: 'required' }
    #io-box
      = f.select :section_id, @sections, id: 'case-section', label: { class: 'required' }
      = f.select :template, ['Checklist', 'Testcase'], label: { class: 'required' }
      -# TODO: connect to model when it's time
      .form-group
        = label_tag 'priority', nil, class: 'required'
        = select_tag 'priority', '<option>Low</option><option>High</option>'.html_safe, class: 'form-control'
      .form-group
        = label_tag 'status', nil, class: 'required'
        = select_tag 'status', '<option>Open</option><option>Closed></option>'.html_safe, class: 'form-control'

    = f.text_area :precondition, help: 'The precondition of this test case.'
    = f.fields_for :steps do |step|
      = step.text_area :action, label: 'Steps', help: 'The required steps to execute the test case.'

    = f.fields_for :exp_results do |r|
      = r.text_area :action, label: 'Expected result', help: 'The expected result after executing the test case.'

    = f.hidden_field :suite_id, value: @suite.id

    = f.primary 'Save Test Case'
    = link_to 'Cancel', suite_path(@suite), class: 'btn btn-default'


= content_for :sidebar do
  %p Delete a test case to remove it from its test suite. This also deletes all related running tests.
  = link_to 'Delete this test case', suite_case_path(@suite, @case), method: :delete, data: { confirm: 'Are you sure?' }