#section-header
  .label C#{@case.id}
  %p Edit Case

= link_to @suite.title, suite_path(@suite), class: 'content-breadcrumb'
= bootstrap_form_for [@suite, setup_case(@case)] do |f|
  #form-controls
    = f.text_field :title, id: 'case-title', label: { class: 'required' }
    #io-box
      = f.select :section_id, @sections, id: 'case-section', label: { class: 'required' }
      = f.select :template, ['checklist', 'testcase'], label: { class: 'required' }
      -# TODO: connect to model when it's time
      .form-group
        = label_tag 'priority', nil, class: 'required'
        = select_tag 'priority', '<option>Low</option><option>High</option>'.html_safe, class: 'form-control'
      .form-group
        = label_tag 'status', nil, class: 'required'
        = select_tag 'status', '<option>Open</option><option>Closed></option>'.html_safe, class: 'form-control'

    = f.text_area :precondition, help: 'The precondition of this test case.'
    #checklist-container
      -# TODO: should render only one pair of text areas
      = f.fields_for :steps do |step|
        = step.hidden_field :position
        = step.text_area :actual_result, label: 'Steps', help: 'The required steps to execute the test case.'
        = step.text_area :expected_result, label: 'Expected result', help: 'The expected result after executing the test case.'

    #testcase-container
      = f.text_area :test_data, help: 'Provide Test Data: user accounts, configurations etc.'

      = label_tag 'Steps'
      %table#steps-control
        = f.fields_for :steps do |step|
          = render 'testcase_steps', f: step

      %span.pull-right
        = link_to_add_association 'Add Step', f, :steps, partial: 'testcase_steps',
          'data-association-insertion-method' => 'append',
          'data-association-insertion-node'   => '#steps-control',
          force_non_association_create: false


    = f.hidden_field :suite_id, value: @suite.id
    = f.form_group class: 'prime-button' do
      = f.primary 'Save Test Case'
      = link_to 'Cancel', suite_path(@suite), class: 'btn btn-default'


= content_for :sidebar do
  %p Delete a test case to remove it from its test suite. This also deletes all related running tests.
  = link_to 'Delete this test case', suite_case_path(@suite, @case), method: :delete, data: { confirm: 'Are you sure?' }