$('#squarespaceModal').slideUp(700);
<!--$('#flash').html("<%= j render 'shared/errors' %>").delay(2000).fadeOut(2000, function () {-->
<!--    $(this).children();-->
<!--});-->
$('#flash').html("<%= j render 'shared/errors' %>").children().delay(2000).animate({ opacity: 0}, 2000);


<% if @section.save %>
  <% if !@section.parent_id.nil? %>
    $("[data-attribute = '<%= @section.parent_id %>']").closest('.section-block')
      .append("<ul><li><%= j render_block(@section) %></li></ul>").find('li').last()
      .attr('style', 'display:none').slideDown(700);
  <% else %>
    $('#cases').children().append("<%= j render_block @section %>");
  <% end %>
<% end %>
