<!DOCTYPE html>
<html>
  <head>
    <title>Warden</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="header">
    <h1>Hello!</h1>
    <ul class="header-menu">
      <li class="header-menu-item"><%= link_to 'Overview', '#' %></li>
      <li class="header-menu-item"><%= link_to 'Test Suites & Cases', suites_path, class: 'test' %></li>
      <li class="header-menu-item"><%= link_to 'Reports', '#' %></li>
    </ul>
  </div>
  <div id="separator"></div>
  <div class="content">
    <div class="row">
      <div id="body" class="col-xs-9">
        <div id="flash">
          <%= render 'shared/errors' %>
        </div>
        <%= yield %>
      </div>
      <div id="sidebar" class="col-xs-3">
        <%= yield :sidebar %>
      </div>
      <% console if Rails.env.development? %>
    </div>
  </div>
  </body>
</html>
